* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(32,30,30);
    color: white;
    text-align: center;
}
.movies{
    background-color: grey;
    max-height: 350px;
    min-height: 350px;
    max-width: 250px;
    min-width: 250px;
    margin: 25px 10px 5px 10px;

}
.container {
    width: 100%;
    text-align: center;
}
button {
    margin: 10px;
}
