* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(32,30,30);
    color: white;
    text-align: center;
}

.movies {
    position: relative;
    background-color: rgb(32,30,30);
    max-height: 350px;
    min-height: 350px;
    max-width: 250px;
    min-width: 250px;
    margin: 25px 15px 5px 15px;
}

.container {
    width: 100%;
    text-align: center;
}

.clean {
    width: 100%;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.top-left {
    text-align: left;
}

.title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.5em;
}

.rating,
.genre {
    text-align: right;
}

.idToEdit {
    width: 50px;
    /*margin-left: 10px;*/
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.i-container:hover .image {
    opacity: 0.5;
}

.i-container:hover .middle {
    opacity: 1;
}

.fancy {
    font-size: 4em;
    color: #fff;
    text-decoration: underline;
    text-shadow:
        /*0 0 10px #fff,*/
        /*0 0 20px #fff,*/
        /*0 0 30px #fff,*/
            0 0 40px #00DEFF,
            0 0 70px #00DEFF,
            0 0 80px #00DEFF,
            0 0 100px #00DEFF,
            0 0 150px #00DEFF;
}

.sub-fancy {
    color: #fff;
    /*position: absolute;*/
    /*left: 555px;*/
    /*margin-bottom: 1em;*/
    text-shadow:
        /*0 0 10px #fff,*/
        /*0 0 20px #fff,*/
        /*0 0 30px #fff,*/
            0 0 40px #00DEFF,
            0 0 70px #00DEFF,
            0 0 80px #00DEFF,
            0 0 100px #00DEFF,
            0 0 150px #00DEFF;
}

.form-control {
    background-color: black;
    color: white;
    border: 1px solid gray;
    width: 100%;
}

.form-control:focus {
    background-color: lightgray;
}

.btn {
    padding: 5px 8px;
}

.box {
    margin-top: 3em;
}
